<div>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
        <p-button label="New" icon="pi pi-plus" severity="success" class="mr-2" (onClick)="openNew()"></p-button>
        <p-button [disabled]="deleteDisabled" label="Delete" icon="pi pi-trash" severity="danger" ></p-button>
        </ng-template>
        <ng-template pTemplate="right">
            <p-button icon="pi pi-cog"></p-button>
        </ng-template>
    </p-toolbar>

    <p-table
        #adminTable
        [value]="filteredProducts"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        [(selection)]="selectedProducts"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 20, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="code" style="width:40%">Code <p-sortIcon field="code" /> </th>
                <th pSortableColumn="name" style="width:40%">Name <p-sortIcon field="name" /> </th>
                <th style="width:20%">Actions</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <p-columnFilter type="text" field="code"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th></th>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="code">Code</label>
            <input type="text" pInputText id="code" [(ngModel)]="product.code" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.code">Code is required.</small>
        </div>
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>